<html>

<head>

</head>

<body>

<h3>FRED Data Viewer</h3>

<p>Choose your dataset:</p>

<form id='select_data' method='post' action='/'>
  <select name='dataset_code'>
    <option value='UNRATE'>Civilian Unemployment Rate</option>
    <option value='DGS10'>10-Year Treasury Constant Maturity Rate</option>
    <option value='CPIAUCSL'>Consumer Price Index for All Urban Consumers: All Items</option>
    <option value='GDPC1'>Real Gross Domestic Product</option>
  </select>
  <input type='submit' value='Submit'>
</form>

</body>
</html>